* {
  box-sizing: border-box;
}

.dropzone {
  display: inline-block;
  background-color: #eee;
  height: 2em;
  width: 10em;
  margin: auto;
  border-radius: 10px;
}

.name {
  background-color: steelblue;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  z-index: 1;
}

.frame {
  width: 100%;
  box-shadow: 0 0 10px #777;
  margin: auto;
  padding: 2%;
}

.face {
  width: 90%;
  height: 5em;
  margin: 10% auto;
  color: #fff;
  text-align: center;
  background-color: purple;
}

.correct {
  background-color: green;
}

#score-quiz {
  display: none;
}
